.right
{
	text-align:right;
}

#container
{
	text-align:center;
}

#header
{
	text-align:center;
	background-color:rgb(200,200,255);
	width:1000px;
	border:1px solid black;	
}

#menu
{
	background-color:rgb(155,155,200);
	height:500px;
	width:200px;
	float:left;
	text-align:right;
	border:1px solid black;	
}

.content
{
	background-color:#EEEEEE;
	height:500px;
	width:800px;
	float:left;
	border:1px solid black;
}

#footer
{
	background-color:rgb(100,100,200);
	clear:both;
	text-align:center;
}