	
#left 
{
	float:left;
}
		
#right 
{
	float:right;
}

#container
{
	text-align:center;
	border:2px solid black;
	width:960px;
	height:1640px;
	margin:0px auto;
	background-color:rgb(162,209,251);
	padding:30px;
	background-clip: padding-box;
	border-radius: 15px;
}

#header
{
	text-align:center;
	background-color:rgb(119,186,36);
	height:100px;
	width:950px;
	margin:0px auto;
	border:0px solid black;	
}

#subheader
{
	text-align:center;
	background-color:lightblue;
	height:80px;
	width:950px;
	margin:0px auto;
	border:0px solid black;
}

#mainbody
{
	background-color:rgb(218,234,145);	
	width:950px;
	margin:5px auto;
	text-align:left;
	padding:15px;	
}

#menu
{
	background-color:rgb(91,158,108);
	height:300px;
	width:140px;
	float:left;
	text-align:right;
	margin:0px auto;
	border:0px solid black;	
	padding:15px;
}

#footer
{
	background-color:rgb(100,100,200);
	clear:both;
	text-align:center;
}

.content
{
	background-color:rgb(225,242,229);
	height:500px;
	width:800px;
	float:left;
	margin:0px auto;
	border:0px solid black;
	text-align:center;
	padding:15px;
}

.right
{
	text-align:right;
	margin:10px;
}

.column400 
{
	width:400px;
}

.column340 
{
	width:340px;
}

body
{
	background-image:url('/images/leaves.jpg');
}