	
#left 
{
	float:left;
}
		
#right 
{
	float:right;
}

#container
{
	text-align:center;
	border:2px solid black;
	width:960px;
	height:640px;
	margin:0px auto;
	background-image:url('/images/paper-tile.png');
	padding:30px;
	background-clip: padding-box;
	border-radius: 15px;
}

#mainbody
{
	width:950px;
	margin:0px auto;
}

#header
{
	text-align:center;
	background-color:rgb(87,142,97);
	height:100px;
	width:950px;
	margin:0px auto;
	border:0px solid black;	
}

#menu
{
	background-color:rgb(91,158,108);
	height:490px;
	width:140px;
	float:left;
	text-align:right;
	margin:0px auto;
	border:0px solid black;	
	padding:5px;
}

#footer
{
	background-color:rgb(100,100,200);
	clear:both;
	text-align:center;
}

.content
{
	background-color:rgb(225,242,229);
	height:500px;
	width:800px;
	float:left;
	margin:0px auto;
	border:0px solid black;
	text-align:center;
}

.right
{
	text-align:right;
	margin:10px;
}

.column400 
{
	width:400px;
}

.column340 
{
	width:340px;
}
