body {
    font-family: 'Helvetica Neue', Arial, Sans-Serif;
    margin: 0;
    background: #eee;
}

.header.row { 
	height: 75px;
    width: 1455px;
	top: 0px;
	background: #8acfeb;
    border: 0px solid black;
    float:left;
}

.header.left {
    width: 180px;
    height: 75px;
    text-align:center;
    border: 0px solid blue;
    padding-left: 15px;
    float:left;
}

.header.right {
    left: 180px;
    height: 75px;
    right: 0px;
    text-align:center;
    border:0px solid red;
    position:absolute;
}

table.subheader {
	text-align:right;
	background:lightgreen;
	top:100px;
	left:0px;
	right:0px;
	height:75px;
	position:absolute;
	table-layout:auto;
}
.mainbody { 
	border: 0px solid black;
	top:75px;
	bottom:50px;
	left: 0px;
	right: 0px;
	position:absolute;
	background: #eee;
    border:0px solid brown;
}
.left.menu {
    width: 180px;
    height: 700px;
    left: 0px;
    border: 1px black;
}

div.scroll {
	background-color:#8acfeb;
	top:0px;
	left:180px;
	right:0px;
	height:700px;
    width: 1255px;
    float:left;
	position:absolute;
    float:left;
	overflow:scroll;
	padding-left:20px;
    border:0px solid green;
}
.messagewindow { 
	bottom: 40px; 
	left:40px; 
	right:80px; 
	height: 120px; 
	background:red;
	position:absolute;
	border-radius: 1em 1em 1em 1em ;
}
.postwindow { 
	top: 40px; 
	left:40px; 
	right:80px; 
	height: 160px; 
	background:white; 
	position:absolute;
	border-radius: 1em 1em 1em 1em ;
}

.listview { padding: 0; margin: 0; font-weight: bold; color: #444; text-align:center}
.listview li { list-style-type: none; background: #eee; padding: 1em; border-top: 1px solid #aaa; border-bottom: 1px solid #fff; cursor: pointer; }
.listview li.selected { background-color: #37F; color: White; }
	
.listview.inset { margin: 1em 0; }
.listview.inset li { background: white; border: 2px solid #aaa; border-bottom-width: 0; }
.listview.inset li:first-child { border-radius: 1em 1em 0em 0em }
.listview.inset li:last-child { border-radius: 0em 0em 1em 1em; border-bottom-width: 2px; }

.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }
.left.col { width: 250px; }
.right.col { left: 250px; right: 0; }
.body.row { top: 75px; bottom: 50px; }
.center { text-align:center;  }
